
.tag {
  background: #74D574;
  min-width: 70px;
  text-align: center;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  line-height: 1.8;
  border: 1px solid;
  border-radius: 4px;
  white-space: nowrap;
}
